<nav class="navbar">
  <div class="navHeader">
    <a href="/clucks/">
      <div class="chickenNav">
        <img src=/images/chicken.jpeg alt="Chicken">
      </div>      
    </a>

    <% if (username) { %> 
      <div class="signedInNav">
        <form action="/clucks/new" method="GET">
          <input type="submit" value="Cluck!" class="btn cluckButton btn-warning">
        </form>

        <div class="usernameDisplay">
          <%= username %>
        </div>

        <form action="/sign_out" method="POST">
          <input type="submit" value="Sign Out" class="btn cluckButton btn-warning">
        </form>
      </div>
 
    <% } else { %>
      <form action="/sign_in" method="POST">
        <label for="username">Sign in!</label>
        <input type="text" name="username"></input>
        <input type="submit" value="Sign In" class="btn cluckButton btn-warning">
      </form>
    <% } %>
  </div>
</nav>